#top {
    width:800px;
    background-color:#dcc9f4 ;
    margin:20px auto ;
    text-align: center;
}
.top-child {
   width: 20%;
   background-color:#ffd9df ;
   display: inline-block; 
   
}

#middle {
    width: 800px;
    height: 800px;
    background-color: #ffd9df ;
    margin: 20px auto;
    position: relative;
}

#middle-child01,#middle-child02,#middle-child03{
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    margin: 10px;
}

#middle-child01 {
    /* 100px、左から100px距離を取った場所 */
    position: absolute;
    top:100px;
    left:100px;
}

#middle-child02 {
    /* 上から300px、左から300px距離を取った場所 */
    position: absolute;
    top:300px;
    left: 300px;
}

#middle-child03 {
    /* 上から500px、左から500px距離を取った場所 */
    position: absolute;
    top:500px;
    left:500px;

}

#bottom {
    width: 800px;
    height: 300px;
    text-align: center;
    background-color:#87ceeb;
    margin: auto;
    
}

#bottom-child01,#bottom-child02,#bottom-child03{
    width:400px;
    height:100px;
    background-color:#e5dcf0 ;
   
   
}

#bottom-child02 {
    /* 本来の表示場所の左から200pxずらして配置 */
    position: relative;
    left:200px;
}

#bottom-child03 {
    /* 本来の表示場所の左から400pxずらして配置 */
    position: relative;
    left: 400px;
}